<nav class="navbar">

    <div class="navbar-container">

        <a href="/" class="logo">

            <img
                   src="{{ url_for('static', filename='images/uemf-logo.png') }}"
                   alt="UEMF"
                   class="uemf-logo"
          >

            <span class="logo-text">
                 Lost & Found
            </span>

        </a>


        <div class="nav-links">

            <a href="/">
                Accueil
            </a>

            <a href="#">
                Objets perdus
            </a>

            <a href="#">
                Objets trouvés
            </a>

            <a href="#">
                Recherche
            </a>

            <a href="#" class="btn btn-primary">
                Connexion
            </a>

        </div>

    </div>

</nav>